/** Main CSS File */

/* b612-mono-latin-400-normal */
@font-face {
    font-family: 'B612 Mono';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url(https://unpkg.com/@fontsource/b612-mono@5.0.17/files/b612-mono-latin-400-normal.woff2) format('woff2'), url(https://unpkg.com/@fontsource/b612-mono@5.0.17/files/b612-mono-latin-400-normal.woff) format('woff');
    unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0300-0301,U+0303-0304,U+0308-0309,U+0323,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

html, body, #root {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
}

.main {
    width: 100%;
    height: 100%;
}

.modal {
    position: absolute;
    z-index: 5;
}

.modal.popup {
    margin-top: 300px;
    width: 100%;
    height: 80%;
}

.modal.popup .window {
    width: 50%;
    max-height: 75%;
    margin-left: auto;
    margin-right: auto;
}

.modal.popup .window.dialog {
    min-width: 300px;
    width: 50%;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.clear {
    clear: both;
}

.window {
    width: min-content;
    display: flex;
    flex-direction: column;
    font-size: 12pt;
    font-family: "B612 Mono", monospace;
}

.window.dialog .window-body {
    overflow-y: auto;
}

.window.main {
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
}

.window.main .window-body {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.cursor {
    cursor: grab;
}

/* progress bar */
:root {
    /* Color */
    --surface: #c0c0c0;
    --button-highlight: #ffffff;
    --button-face: #dfdfdf;
    --button-shadow: #808080;
    --dialog-blue: #000080;
    --window-frame: #0a0a0a;

    /* Borders */
    /* Field borders (checkbox, input, etc) flip window-frame and button-shadow */
    --border-field: inset -1px -1px var(--button-highlight),
    inset 1px 1px var(--button-shadow),
    inset -2px -2px var(--button-face),
    inset 2px 2px var(--window-frame);

    /* Tabs */
    --border-tab: inset -1px 0 var(--window-frame),
    inset 1px 1px var(--button-face),
    inset -2px 0 var(--button-shadow),
    inset 2px 2px var(--button-highlight)
}

progress {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 280px;
    height: 16px;
    box-shadow: var(--border-field);
}

progress::-webkit-progress-bar {
    background: var(--surface);
    box-shadow: var(--border-field);
}

progress[value]::-webkit-progress-value,
progress[value]::-moz-progress-bar {
    background-color: var(--dialog-blue);
    box-shadow: var(--border-field);
}

.window[role=tabpanel] {
    position: relative;
    z-index: 2;
}

/* flex layouts */
.flexRow {
    display: flex;
    flex-direction: row;
}

.flexRowRev {
    display: flex;
    flex-direction: row-reverse;
}

.flexCol {
    display: flex;
    flex-direction: column;
}

.flexGap {
    gap: 5px;
}

.flexFill {
    flex-grow: 1;
}

.tabs {
    display: flex;
    flex-direction: column;
}

.tabs article {
    position: relative;
    flex-grow: 1;
    margin-bottom: 0;
}

.fillHolder {
    position: relative;
    display: flex;
}

.fillScroll {
    overflow-y: scroll;
    position: absolute;
    left: 14px;
    right: 14px;
    top: 14px;
    bottom: 14px;
}
